<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="c:\Uzi\messages.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel"
              switchValue="Error, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\Uzi\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
  <system.serviceModel>
    <!--<diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" />
    </diagnostics>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="IkosaServiceBehavior">
          <serviceCredentials>
            <!--<serviceCertificate findValue="DELL-XPS" storeLocation="CurrentUser"
              x509FindType="FindBySubjectName" /> -->
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Uzi.Ikosa.Services.UserValidator, Uzi.Ikosa"/>
          </serviceCredentials>
          <serviceMetadata/>
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="Uzi.Ikosa.Services.IkosaAuthorization, Uzi.Ikosa, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="IkosaClearTCPBinding">
          <security authenticationMode="UserNameOverTransport" allowInsecureTransport="true" requireSecurityContextCancellation="true">
            <secureConversationBootstrap authenticationMode="UserNameOverTransport" allowInsecureTransport="true"/>
          </security>
          <binaryMessageEncoding/>
          <tcpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" portSharingEnabled="false"/>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="IkosaTCPBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" portSharingEnabled="false">
          <security mode="Message">
            <transport protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="IkosaServiceBehavior" name="Uzi.Ikosa.Services.LoginService">
        <endpoint address="" binding="customBinding" bindingConfiguration="IkosaClearTCPBinding" contract="Uzi.Ikosa.Contracts.Host.ILoginService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:3360/ikosa/Login"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="IkosaServiceBehavior" name="Uzi.Ikosa.Services.IkosaServices">
        <endpoint binding="customBinding" bindingConfiguration="IkosaClearTCPBinding" contract="Uzi.Ikosa.Contracts.IIkosaCombinedServices"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:3360/ikosa/services"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="IkosaServiceBehavior" name="Uzi.Ikosa.Services.VisualizationService">
        <endpoint binding="customBinding" bindingConfiguration="IkosaClearTCPBinding" contract="Uzi.Visualize.Contracts.IVisualizationService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:3360/ikosa/Visualization"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="IkosaServiceBehavior" name="Uzi.Ikosa.Services.MasterServices">
        <endpoint binding="customBinding" bindingConfiguration="IkosaClearTCPBinding" contract="Uzi.Ikosa.Contracts.IMasterControl"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:3360/ikosa/master"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
