<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LocalTrust">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IkosaServices" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="IkosaClearTCPBinding" closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:10:00">
          <security authenticationMode="UserNameOverTransport" allowInsecureTransport="true" requireSecurityContextCancellation="true">
            <secureConversationBootstrap authenticationMode="UserNameOverTransport" allowInsecureTransport="true"/>
          </security>
          <binaryMessageEncoding>
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          </binaryMessageEncoding>
          <tcpTransport maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" portSharingEnabled="false">
          </tcpTransport>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:3360/ikosa/services" binding="customBinding" bindingConfiguration="IkosaClearTCPBinding" contract="IkosaSvc.IIkosaCombinedServices" name="NetTcpBinding_IIkosaServices">
        <!--<identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA3yUWLxc42mZB2ZGIhVESXWo0STEgAAAAAQAAABQCAAAwggIQMIIBfaADAgECAhD3PUMSJ9DCpU8L119ek2soMAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJSWtvc2FUZXN0MB4XDTExMDcwMzExNDAwMFoXDTM5MTIzMTIzNTk1OVowEzERMA8GA1UEAxMIREVMTC1YUFMwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAIxL3r5bV9z/hBsP9n62UXlzypbT4qfknsvwiXZ4XWzCm6RyB4omFT1X+NpivjTLw8RVuR1oZLwcZP2NDhBqUW1A0XE+egj1fEVwt82+9qOOKqFLFuvmIN8s5Z1l8X/ZDhaRPtSpI+S/tGs5a7ZYC991caWfe//Fl1nBzYNcdDKhAgMBAAGjbDBqMAwGA1UdEwEB/wQCMAAwEwYDVR0lBAwwCgYIKwUBBQUHAwEwRQYDVR0BBD4wPIAQQl2a9gMxPZsB4QyMa104kqEWMBQxEjAQBgNVBAMTCUlrb3NhVGVzdIIQijCaNw5Xd7FOCQtLAmSkPTAJBgUrDgMCHQUAA4GBAAbVi4bqWK0MBNM8SlrxqB/plO8q3wwv4rE8ltwpxpTcqRPQtY0SbSFQUq6jOHn3Uxp4Jejq7i/pOwJGcCsDPRHrRwMDs1OgFl5qZCVAVEa7DJxNqHumcKoXiB85nBc0bGLjtuJM2foUjGM5LkF9uKjQ3P1zLWBUxWYRB/MTVBcb" />
        </identity>-->
      </endpoint>
      <endpoint address="net.tcp://localhost:3360/ikosa/Login" binding="customBinding" bindingConfiguration="IkosaClearTCPBinding" contract="LoginSvc.ILoginService" name="NetTcpBinding_ILoginService">
        <!--<identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA3yUWLxc42mZB2ZGIhVESXWo0STEgAAAAAQAAABQCAAAwggIQMIIBfaADAgECAhD3PUMSJ9DCpU8L119ek2soMAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJSWtvc2FUZXN0MB4XDTExMDcwMzExNDAwMFoXDTM5MTIzMTIzNTk1OVowEzERMA8GA1UEAxMIREVMTC1YUFMwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAIxL3r5bV9z/hBsP9n62UXlzypbT4qfknsvwiXZ4XWzCm6RyB4omFT1X+NpivjTLw8RVuR1oZLwcZP2NDhBqUW1A0XE+egj1fEVwt82+9qOOKqFLFuvmIN8s5Z1l8X/ZDhaRPtSpI+S/tGs5a7ZYC991caWfe//Fl1nBzYNcdDKhAgMBAAGjbDBqMAwGA1UdEwEB/wQCMAAwEwYDVR0lBAwwCgYIKwUBBQUHAwEwRQYDVR0BBD4wPIAQQl2a9gMxPZsB4QyMa104kqEWMBQxEjAQBgNVBAMTCUlrb3NhVGVzdIIQijCaNw5Xd7FOCQtLAmSkPTAJBgUrDgMCHQUAA4GBAAbVi4bqWK0MBNM8SlrxqB/plO8q3wwv4rE8ltwpxpTcqRPQtY0SbSFQUq6jOHn3Uxp4Jejq7i/pOwJGcCsDPRHrRwMDs1OgFl5qZCVAVEa7DJxNqHumcKoXiB85nBc0bGLjtuJM2foUjGM5LkF9uKjQ3P1zLWBUxWYRB/MTVBcb" />
        </identity>-->
      </endpoint>
      <endpoint address="net.tcp://localhost:3360/ikosa/Visualization" binding="customBinding" bindingConfiguration="IkosaClearTCPBinding" contract="VisualizationSvc.IVisualizationService" name="NetTcpBinding_IVisualizationService">
        <!--<identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA3yUWLxc42mZB2ZGIhVESXWo0STEgAAAAAQAAABQCAAAwggIQMIIBfaADAgECAhD3PUMSJ9DCpU8L119ek2soMAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJSWtvc2FUZXN0MB4XDTExMDcwMzExNDAwMFoXDTM5MTIzMTIzNTk1OVowEzERMA8GA1UEAxMIREVMTC1YUFMwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAIxL3r5bV9z/hBsP9n62UXlzypbT4qfknsvwiXZ4XWzCm6RyB4omFT1X+NpivjTLw8RVuR1oZLwcZP2NDhBqUW1A0XE+egj1fEVwt82+9qOOKqFLFuvmIN8s5Z1l8X/ZDhaRPtSpI+S/tGs5a7ZYC991caWfe//Fl1nBzYNcdDKhAgMBAAGjbDBqMAwGA1UdEwEB/wQCMAAwEwYDVR0lBAwwCgYIKwUBBQUHAwEwRQYDVR0BBD4wPIAQQl2a9gMxPZsB4QyMa104kqEWMBQxEjAQBgNVBAMTCUlrb3NhVGVzdIIQijCaNw5Xd7FOCQtLAmSkPTAJBgUrDgMCHQUAA4GBAAbVi4bqWK0MBNM8SlrxqB/plO8q3wwv4rE8ltwpxpTcqRPQtY0SbSFQUq6jOHn3Uxp4Jejq7i/pOwJGcCsDPRHrRwMDs1OgFl5qZCVAVEa7DJxNqHumcKoXiB85nBc0bGLjtuJM2foUjGM5LkF9uKjQ3P1zLWBUxWYRB/MTVBcb" />
        </identity>-->
      </endpoint>
      <endpoint address="net.tcp://localhost:3360/ikosa/master" binding="customBinding" bindingConfiguration="IkosaClearTCPBinding" contract="IkosaSvc.IMasterControl" name="NetTcpBinding_IMasterControl">
        <!--<identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA3yUWLxc42mZB2ZGIhVESXWo0STEgAAAAAQAAABQCAAAwggIQMIIBfaADAgECAhD3PUMSJ9DCpU8L119ek2soMAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJSWtvc2FUZXN0MB4XDTExMDcwMzExNDAwMFoXDTM5MTIzMTIzNTk1OVowEzERMA8GA1UEAxMIREVMTC1YUFMwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAIxL3r5bV9z/hBsP9n62UXlzypbT4qfknsvwiXZ4XWzCm6RyB4omFT1X+NpivjTLw8RVuR1oZLwcZP2NDhBqUW1A0XE+egj1fEVwt82+9qOOKqFLFuvmIN8s5Z1l8X/ZDhaRPtSpI+S/tGs5a7ZYC991caWfe//Fl1nBzYNcdDKhAgMBAAGjbDBqMAwGA1UdEwEB/wQCMAAwEwYDVR0lBAwwCgYIKwUBBQUHAwEwRQYDVR0BBD4wPIAQQl2a9gMxPZsB4QyMa104kqEWMBQxEjAQBgNVBAMTCUlrb3NhVGVzdIIQijCaNw5Xd7FOCQtLAmSkPTAJBgUrDgMCHQUAA4GBAAbVi4bqWK0MBNM8SlrxqB/plO8q3wwv4rE8ltwpxpTcqRPQtY0SbSFQUq6jOHn3Uxp4Jejq7i/pOwJGcCsDPRHrRwMDs1OgFl5qZCVAVEa7DJxNqHumcKoXiB85nBc0bGLjtuJM2foUjGM5LkF9uKjQ3P1zLWBUxWYRB/MTVBcb" />
        </identity>-->
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
